<ion-view class="loginDiv signUpBG" hide-nav-bar="true" >
  <ion-content scroll="false" class="full-height">
    <div class="full-height">

      <div class="video-container">
        <video webkit-playsinline autoplay playsinline muted loop preload="auto">
          <source type="video/mp4" src="video/videointro.mp4">
        </video>
      </div>

      <div class="login-logo-section" align="center">
        <img class="leftImg2" ng-src="img/placeholderImg.png">
      </div>
      <div class="login_div" align="center">
        <div class="login-bars">
          <div class="list list-inset" align="center">
            <label class="item item-input login-field">
              <i class="icon ion-ios-email placeholder-icon login-icon">&nbsp</i>
              <input class="input-color login-input" type="email" autocomplete="false" placeholder="Enter your email" ng-model="data.email" ng-focus="preventKeyboard(event)">
            </label>
          </div>
          <div class="clr-btn"><i ng-if="data.email.length!=0" ng-click="emptyfield(1)" class="icon ion-ios-close login-icon"></i></div>
        </div>

        <div style="text-align:center;padding: 0 20%;">
          <input type="button" class="button button-block loginbutton" value="Recover Password" ng-click="forgotpass(data)" />
            <a ng-click="Loginstate()">
              <span class="login" style="color:white;font-size: 16px;">Back</span>
            </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
