<div class="modal image-modal editCommentPopup">
  <button class="button button-clear ion-close-round pull-right zoom-close" ng-click="closeAttachmentModal()" style="margin-top: 10%;margin-right: 0;"></button>
  <div class="attachmentButton-section">
      <button class="button button-block firtpagebutton ion-camera" ng-click="openCommentCamera()">
        <span>&nbsp;</span>Camera</button>
      <button class="button button-block firtpagebutton ion-images" ng-click="openCommentGallery()">
        <span>&nbsp;</span>Gallery</button>
  </div>
</div>
