<ion-view cache-view="false" ng-controller="HeaderCtrl" class="whiteoverlayforHome">
    <ion-nav-buttons side="left" class="button-clear">
        <button class="button button-icon ion-chevron-left headerbuttonmenu" ng-click="goback()"></button>
        <!-- <img ng-src="img/logo2.png"  ng-click="gofeature()"> -->
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title" style="color:white;">Reservations</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonmenu" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <!-- <div class="firstpageresi">
            <button class="button button-block firtpagebuttonResi" ng-click="chnageNewRqst()">
                <i class="icon ion-compose left marginleft5"></i>
                <span>New Request</span>
            </button>
            <button class="button button-block firtpagebuttonResi" ng-click="changetonotify()">
                <i class="icon ion-android-notifications-none left marginleft5"></i>
                <span>Existing Requests</span>
            </button>
        </div> -->
        <div class="subPageStaff">
            <div class="newRequestResi" ng-click="chnageNewRqst()">
                <i class="icon ion-compose textSub"></i>
                <span class="subText">New Request</span>
            </div>
            <div class="existingRequestResi" ng-click="changetonotify()">
                <i class="icon ion-android-notifications-none textSub1"></i>
                <span class="subText1">Existing Requests</span>
            </div>
        </div>
    </ion-content>
</ion-view>
