<ion-view ng-controller="HeaderCtrl" style="background:#202020">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonmenu" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title" style="color:white;">Reservations</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonmenu" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-content class="feature_staff_center">
        <div>
            <div class="marginTop3">
                <img class="item_img" ng-src="{{host_url_global+'/'+detailItem.amenity_img}}" ng-click="openModal(detailItem.amenity_img)"
                    onerror="this.src='img/no-image.jpg'">
            </div>
            <div class="resiItemDiv marginTop3">
                <div class="color marginBottom">
                    <span class="marginTop3 bold">{{detailItem.name}}</span>
                </div>

                <div class="border-bottom" ng-if="detailItem.max_time_allowed">
                    <span class="color fontSize15">Maximum time allowed: </span>
                    <span class="itemFontColor">{{detailItem.max_time_allowed}} minutes</span>
                </div>
                <div class="border-bottom" ng-if="detailItem.cost_per_hour">
                    <span class="color fontSize15 colorRed">Hourly Price: </span>
                    <span class="itemFontColor colorRed"><i class="icon ion-social-usd"></i> {{detailItem.cost_per_hour}}<span class="itemFontColor colorRed">/hr</span></span>
                </div>
                <div class="border-bottom" ng-if="detailItem.additional_flat_price">
                    <span class="color fontSize15 colorRed">Additional Flat Price: </span>
                    <span class="itemFontColor colorRed"><i class="icon ion-social-usd"></i> {{detailItem.additional_flat_price}}<span class="itemFontColor colorRed"></span></span>
                </div>
                <div ng-if="detailItem.description">
                    <span class="color fontSize15">Description: </span>
                    <span style="line-height:16px" class="itemFontColor">{{detailItem.description}}</span>
                </div>
            </div>
            <button class="button button-block itemBookBtn" ng-click="reservationcalendar.show()">Book Now</button>
            <div ng-show="false">
                <input ng-model="calendarvalue" mobiscroll-calendar="calsettings" mobiscroll-instance="reservationcalendar" />
            </div>
        </div>
    </ion-content>

</ion-view>