<ion-view cache-view="false" ng-controller="HeaderStaffCtrl" class="whiteoverlayforHome">
  <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonStaff" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <!-- <h1 class="title" style="color:white;">Normal Work Order</h1> -->
        <ion-title style="color:white;">Normal Work Order</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonStaff" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
  <ion-content scroll="false">
    <!-- <div class="firstpagestaff">
        <button class="button button-block firtpagebutton " ng-click="makeNwo()">
            <i class="icon ion-compose left marginleft5"></i>
            <span>New Request</span>
        </button>
        <button class="button button-block firtpagebutton" ng-click="listingNwo()">
          <i class="icon ion-android-notifications-none left marginleft5"></i>
          <span>Existing Requests</span>
        </button>
      </div> -->
    <div class="subPageStaff">
      <div class="newRequestStaff" ng-click="makeNwo()">
        <i class="icon ion-compose textSub"></i>
        <span class="subText">New Request</span>
      </div>
      <div class="existingRequestStaff" ng-click="listingNwo()">
        <i class="icon ion-android-notifications-none textSub1"></i>
        <span class="subText1">Existing Requests</span>
      </div>
    </div>
  </ion-content>
</ion-view>
