<ion-view cache-view- "false" class="whiteoverlayforHome" ng-controller="HeaderStaffCtrl">
  <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonStaff" ng-click="gobackStaffFeature()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <!-- <h1 class="title" style="color:white;">Reservations</h1> -->
          <ion-title style="color:white;">Reservations</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonStaff" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
  <ion-content ng-controller="HeaderStaffCtrl" scroll="false">
      <!-- <div class="firstpagestaff">
        <button class="button button-block firtpagebutton " ng-click="chnageNewRqst()">
            <i class="icon ion-compose left marginleft5"></i>
            <span>New Request</span>
        </button>
        <button class="button button-block firtpagebutton" ng-click="changetonotify()">
          <i class="icon ion-android-notifications-none left marginleft5"></i>
          <span>Existing Requests</span>
        </button>
      </div> -->
    <div class="subPageStaff">
      <div class="newRequestStaff" ng-click="chnageNewRqst()">
        <i class="icon ion-compose textSub"></i>
        <span class="subText">New Request</span>
      </div>
      <div class="existingRequestStaff" ng-click="changetonotify()">
        <i class="icon ion-android-notifications-none textSub1"></i>
        <span class="subText1">Existing Requests</span>
      </div>
    </div>
  </ion-content>
</ion-view>
