<ion-view  cache-view="false"  ng-controller="HeaderCtrl">
    <ion-nav-buttons side="left">
    <div ng-click="goback()" >       
        <button class="button button-icon ion-chevron-left headerbuttonmenu"  nav-direction="enter" ></button>
    </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <ion-title style="color:white;">{{headertext}}</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonmenu" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-header-bar>
        <h1 class="title" style="color:white;">Notifications</h1>
    </ion-header-bar>
    <ion-content ng-init="getNotifyList()">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list poll-section" style="border: 0 none;">
            <div ng-class="{'border-rm':$index==0,resiWoPending:message.service_id.work_order_status==1,resiWoProgress:message.service_id.work_order_status==2,resiWoCompleted:message.service_id.work_order_status==3}" class="item poll-item row notifiDiv1" ng-repeat="message in existingNotify| orderBy:sortComment:true" ng-class="{pckgClosed:message.is_closed}" ng-click="getNotificationthread(message)" >
                <!-- <div class="col col-20 item-image notifiImgDiv">
                    <img class="notifiImg" ng-class="{'markStatus-staff':message.service_id.users_id.user_type_id == 3 || message.service_id.users_id.user_type_id == 2,'markStatus-resi':message.service_id.users_id.user_type_id == 4}" src="{{host_url_global+'/' + message.service_id.users_id.profile_img}}" onerror="this.src='img/placeholderImg.png'">
                </div> -->
                <div ng-if="message.service_id.users_id.profile_img" class="col col-20 item-image notifiImgDiv">
                    <img ng-if="!showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':message.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.users_id.user_type_id == 4}" src="{{host_url_global+'/' + message.service_id.users_id.profile_img| thumb}}" imageonload="generateAvtarOnimageLoadError()">

                    <div ng-if="showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':message.service_id.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.service_id.users_id.user_type_id == 4}">
                        <ionic-letter-avatar data="{{ message.service_id.users_id.firstname | limitTo:1}}{{ message.service_id.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}" bkcolor="{{message.service_id.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <div ng-if="message.service_id.users_id.profile_img == ''" class="col col-20 item-image notifiImgDiv">
                    <div class="notifiImg" ng-class="{'markStatus-staff':message.service_id.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.service_id.users_id.user_type_id == 4}">
                        <ionic-letter-avatar data="{{ message.service_id.users_id.firstname | limitTo:1}}{{ message.service_id.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}" bkcolor="{{message.service_id.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <div class="col col-60 notifiMsgDiv">
                    <span style="" class="col woCreatedDate">{{message.created | dateformatnotifcation}}  <span style="float: right;">{{message.units_id.unit_number}}</span></span>
                    <span class="col notifiMsgSpan">
                          <span ng-if="message.service_id.work_order_status==1" class="right woPendingText" style="float: right;">Pending</span>
                          <span ng-if="message.service_id.work_order_status==2" class="right woProgressText" style="float: right;">In progress</span>
                          <span class="right woCompletedText" ng-if="message.service_id.work_order_status==3" style="float: right;">Completed</span>
                    </span>
                    <span class="col text-wrap notifiMsgTextSpan">Created By: {{message.service_id.users_id.firstname}} {{message.service_id.users_id.lastname}} </span>
                    <span class="right notifiCircleWoList" style="float: right;" ng-if="message.unreadthreadVal > 0">{{message.unreadthreadVal}}</span>
                    <span class="col text-wrap notifiMsgTextSpan">Message: {{message.service_id.message | truncate:18}}</span>
                    <span class="col text-wrap notifiMsgTextSpan amountClass" ng-if="message.service_id.amount_due">Amount Due: <i class="icon ion-social-usd dollorSymbol fontSize15 amountClass"></i> {{message.service_id.amount_due}}  
                    </span>
                </div>
            </div>
        </div>
         <div class="text-center" ng-show="noMoreItemsAvailable && (page_number != '01' || page_number == '0')"> 
                    <span> No more notifications to load</span>
        </div>
             <ion-infinite-scroll   immediate-check="false"  on-infinite="loadMore()"  distance="3%"></ion-infinite-scroll>
        <p class="noResiNoti" ng-if="NoNotidata">{{NoNotidata}}</p>
    </ion-content>
</ion-view>

