
<div class="modal image-modal whiteoverlayforResident">
    <button class="button button-clear ion-close-round pull-right zoom-close" ng-click="closeModal()" style="margin-top: 20%;margin-right: 0;"></button>
    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" style="text-align:center;position: absolute;left: 0; top: 0;right: 0;bottom: 0;background-color:#000;">
      <img ng-src="{{imageSrc}}" class="full-image-zoom">
    </ion-scroll>
</div>
