<ion-view class="whiteoverlayforHome" cache-view="false" ng-controller="HeaderStaffCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonStaff" ng-click="goback('1')"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <!-- <h1 class="title" style="color:white;">{{headerSpec}}</h1> -->
        <ion-title style="color:white;">{{headerSpec}}</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonStaff" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader subheadercolor">
        <h1 ng-if="!searching" class="title white right">Notifications</h1>
        <h1 ng-if="searching" class="title white right">Total Records : {{totalrecords}}</h1>
        <h1 ng-show="show" class="searchBarDiv">
            <div style="width: 100%;">
                <div class="left" style="display: inline-block;width: 90%;">
                    <input class="searchBarInput" type="hidden"   ng-model="search1.unit_number" placeholder="Search" ng-change="scrollopt(search1.unit_number)">
                </div>
                <div style=" display: inline-block;width: 10%;">
                    <!--  <button style="color: #fff;" class="button button-icon ion-ios-close"  type="submit" ng-click="showIt(0)"></button> -->
                </div>
            </div>
        </h1>
        <button class="right button button-icon ion-android-search white padding-none" ng-click="showIt(1)" ></button>
    </ion-header-bar>
    <ion-content delegate-handle="mainScroll" on-scroll="getscollposition()">
        <div class="padding-none">
            <ion-list ng-show="data.show">
                <ion-item ng-repeat="item in items | filter:search1:strict | orderBy:natural('unit_number')" item="item" ng-click="searchUsingService(item)" class="unit">
                    {{item.unit_number}}
                </ion-item>
                <ion-item ng-show="(items | filter:search1).length == 0" item="item" class="unit">
                    No results found
                </ion-item>
            </ion-list>
        </div>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div ng-class="{'list poll-section': blur== false ,'list poll-sectionblur': blur == true}" style="border: 0 none;">
            <div ng-class="{'border-rm':$index==0,staffWoPending:message.service_id.work_order_status==1,staffWoProgress:message.service_id.work_order_status==2,staffCompleted:message.service_id.work_order_status==3}" class="item poll-item row notifiDiv1" ng-repeat="message in messages | orderBy:sortComment:true" ng-class="{pckgClosed:message.is_closed}" ng-click="StaffNotificationthread(message)">
                <!-- <div class="col col-20 item-image notifiImgDiv">
          <img class="notifiImg" ng-class="{'markStatus-staff':message.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.users_id.user_type_id == 4}" src="{{host_url_global+'/' + message.users_id.profile_img| thumb}}" onerror="this.src='img/placeholderImg.png'">
        </div> -->
                <div ng-if="message.users_id.profile_img" class="col col-20 item-image notifiImgDiv">
                    <img ng-if="!showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':message.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.users_id.user_type_id == 4}" src="{{host_url_global+'/' + message.users_id.profile_img| thumb}}" imageonload="generateAvtarOnimageLoadError()">
                    <div ng-if="showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':message.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.users_id.user_type_id == 4}">
                        <ionic-letter-avatar data="{{ message.users_id.firstname | limitTo:1}}{{ message.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}" bkcolor="{{message.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <div ng-if="message.users_id.profile_img == ''" class="col col-20 item-image notifiImgDiv">
                    <div class="notifiImg" ng-class="{'markStatus-staff':message.users_id.user_type_id == 3 || message.users_id.user_type_id == 2,'markStatus-resi':message.users_id.user_type_id == 4}">
                        <ionic-letter-avatar data="{{ message.users_id.firstname | limitTo:1}}{{ message.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}" bkcolor="{{message.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <div class="col col-67 notifiMsgDiv">
                    <span>
                        <span class="col notifiDate">{{message.created | dateformatnotifcation}}</span>
                        <span class="pckUnitNo">{{message.units_id.unit_number}}</span>
                    </span>
                    <span class="col notifiMsgSpan">
                        <span style="float: left; ">{{message.users_id.firstname}} {{message.users_id.lastname}}</span>
                        <span class="pull-right" ng-if="message.service_id.is_signed == true && message.services_category_id == '5629c3cc3949c780667d5c5a'" style="color: green; margin-right: -20%;">Picked Up</span>
                        <span class="pull-right" ng-if="message.service_id.is_signed == false && message.services_category_id == '5629c3cc3949c780667d5c5a'" style="color: red; margin-right: -20%;" ng-if="notifythread.is_signed == false">Not Picked Up</span>
                    </span>
                    <span class="col text-wrap notifiMsgTextSpan">{{message.message | truncate:65}}</span>
                </div>
                <div class="col col-10 notifiCountDiv">
                    <div class="notifiCircle" ng-if="message.unreadthreadVal > 0">{{message.unreadthreadVal}}</div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-show="noMoreItemsAvailable">
            <span> <i class="icon ion-ios-information-outline"></i>No more notifications to load</span>
        </div>
        <ion-infinite-scroll immediate-check="false" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
