<ion-view cache-view="false" class="loginDiv" class="whiteoverlayforHome" ng-controller="HeaderCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonmenu" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <ion-title style="color:white;">Change Password</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonmenu" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="changepwd">
            <form name="changepwdfrm" >
                <div class="text-center">
                </div>
                <div class="login-bars">
                    <div class="list list-inset" align="center">
                        <label class="item item-input login-field">
                            <i class="icon ion-ios-locked placeholder-icon login-icon">&nbsp</i>
                            <input class="input-color login-input" type="password" placeholder="Current password" ng-model="data.curPwd" required>
                        </label>
                    </div>
                    <div class="clr-btn"><i ng-if="data.curPwd" ng-click="data.curPwd = ''" class="icon ion-ios-close login-icon"></i></div>
                </div>
                <div class="login-bars">
                    <div class="list list-inset" align="center">
                        <label class="item item-input login-field">
                            <i class="icon ion-ios-locked placeholder-icon login-icon">&nbsp</i>
                            <input class="input-color login-input" type="password" placeholder="New password" ng-model="data.newPwd" required>
                        </label>
                    </div>
                    <div class="clr-btn"><i ng-if="data.newPwd" ng-click="data.newPwd = ''" class="icon ion-ios-close login-icon"></i></div>
                </div>
                <div class="login-bars">
                    <div class="list list-inset" align="center">
                        <label class="item item-input login-field">
                            <i class="icon ion-ios-locked placeholder-icon login-icon">&nbsp</i>
                            <input class="input-color login-input" type="password" placeholder="Confirm password" ng-model="data.confirmPwd" required>
                        </label>
                    </div>
                    <div class="clr-btn"><i ng-if="data.confirmPwd" ng-click="data.confirmPwd = ''" class="icon ion-ios-close login-icon"></i></div>
                </div>
                <p class="text-center" ng-if="data.newPwd != data.confirmPwd && data.confirmPwd">Password do not match</p>
                <button class="button button-block changePwdbtn" type="submit" ng-disabled="changepwdfrm.$invalid || data.confirmPwd != data.newPwd" ng-click="changePassword(data)">
                    <span class="login">Change Password</span>
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
