<ion-modal-view class="ion-nifty-modalshort" ng-controller="HeaderCtrl">
    <div class="ion-modal-content-custom">
        <ion-content class="padding" scroll="true">
            <h5 class="scolor">Search Criteria</h5>
            <form>
                <div>
                    <label class="item item-input" style="background: transparent;border-bottom: 1px solid #fff !important; border-top: none; border-left: none;border-right: none;margin:0% 3% 0% 3%;">
                        <input class="sinput" type="text" placeholder="Guest Name" ng-model="guestname" style="background: none;
">
                    </label>
                </div>
                <br>
                <div>
                    <label class="item item-input" style="background: transparent;border-bottom: 1px solid #fff !important; border-top: none; border-left: none;border-right: none;margin:0% 3% 0% 3%;">
                        <input class="sinput" type="text" placeholder="Guest Email" ng-model="guestemail" style="background: none;
">
                    </label>
                </div>
                <br>
                <div>
                    <label class="item item-input" style="background: transparent;border-bottom: 1px solid #fff !important; border-top: none; border-left: none;border-right: none;margin:0% 3% 0% 3%;">
                        <input class="sinput" type="tel" placeholder="Phone Number" ng-model="guestphone" style="background: none;
">
                    </label>
                </div>
                <br>
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col col-50">
                        <!--  <button class="tasktype" ng-click="reset('package')"><span class="clearBtn">Reset</span></button> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="tasktype" ng-click="clearAll(searchFilter);"><span class="clearBtnresi">Clear All</span></button>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <button class="cancelBtnReservsearch" ng-click="closeModal()">Cancel</button>&nbsp;
                    <button class="confirmBtnReserv" ng-click="searchdata(searchFilter,guestname,guestemail,guestphone)">Submit</button>
                </div>
        </ion-content>
    </div>
</ion-modal-view>
