<ion-view ng-controller="HeaderStaffCtrl" class="whiteoverlayforHome">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonStaff" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <ion-title style="color:white;">Visitors</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonStaff" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
     <ion-header-bar  class="bar bar-subheader scanheading">
        <h1 class="title buzzHeader">Scan your QR code</h1>
    </ion-header-bar>
    <ion-content class="addWoBg" style="padding:1%;">
       <!--  <div class="scannerpadding">
            <img  class="full-image" src="img/qr_code.png">
       <div class="camerabtn" ng-click="scanqrcode()"><img class="cambtn" src="img/btn.png"></div>
        </div>
    </ion-content>
    <ion-footer-bar style="padding: 0px;background-color: transparent;">
        <div class="row" style="padding: 0;">
            <div class="col col-50" style="padding: 0;">
                <button style="padding: 0;margin: 0;height: 44px;" class="button button-full cancelBtnReservsearch" ng-click="scanqrcode()">Re-take</button>
            </div>
            <div class="col col-50" style="padding: 0;border-left: 1px solid #fff;">
                <button style="padding: 0;margin: 0;height: 44px;" class="button button-full confirmBtnReserv" ng-click="editpackage(resident)">Submit</button>
            </div>
        </div>
    </ion-footer-bar> -->
</ion-view>
