<ion-view cache-view="false" ng-controller="HeaderStaffCtrl" class="whiteoverlayforHome">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonStaff" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <!-- <h1 class="title" style="color:white;">Workorder Details</h1> -->
        <ion-title style="color:white;">Guest Details</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonStaff" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-content ng-style="staffQRcolor" class="has-header" ng-init="showstaffguestdetails()">
        <div class="detailsDiv">
            <i class="icon ion-clock lightGreyColor" ng-show="guestdetail.created"></i>&nbsp
            <span class="lightGreyColor">{{guestdetail.created | dateformatnotifcation}}</span>
            <span class="right detailsPadding" style="margin-top:-3px">{{guestdetail.unit_number}}</span>
            <div class="row">
                <div class="col col-100" style="text-align:center">
                    <div class="usepadding">
                        <span ng-if="approved === true" class="bigWhiteColorFont"><b>Pass is Valid</b></span>
                        <span ng-if="approved === false" class="bigWhiteColorFont"><b>Need Approval</b></span>
                         <span ng-if="passdelete === true" class="bigWhiteColorFont"><b>Pass has been deleted</b></span>
                    </div>
                    <div ng-show="guestdetail.profile_img">
                        <img class="guestdetail" ng-src="{{host_url_global+'/' + guestdetail.profile_img}}">
                    </div>
                    <div ng-if="!guestdetail.profile_img && guestdetail.initials" class="col col-20 item-image notifiImgDiv guestdetailsAvatarstaff">
                        <div ng-class="markStatus-resi" class="ng-cloak">
                            <ionic-letter-avatar class="ng-cloak" data="{{guestdetail.initials}}" charcount="2" shape="round"></ionic-letter-avatar>
                        </div>
                    </div>
                    <h5 class="guestdeatils">{{guestdetail.firstname}} {{guestdetail.lastname}}</h5>
                    <span ng-show="guestdetail.phone_no"><i class="icon ion-ios-telephone phoneColor" ></i> &nbsp; <span  class="phoneFontguestdeatils" ng-click="callphone(guestdetail.phone_no)">{{guestdetail.phone_no | tel}} </span>
                    </span>
                    <div class="usepadding">
                        <span ng-show="guestdetail.email"><i class="icon ion-email emergencyPhoneColor" ></i>&nbsp;   <span  class="phoneFontguestdeatils" ng-click="emailContact(guestdetail.email)">{{guestdetail.email}} </span></span>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align:center">
                <div class="col col-100">
                    <div class="usepadding">
                        <span><b>{{rise_unit_singleton}} Number:</b> <span class="whiteColorFont">{{guestdetail.unit_number}}</span></span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.category">
                        <span ng-if="guestdetail.category==='Contractor'"><b>Category:</b> <span class="bigAlertColortime" ng-if="guestdetail.category==='Contractor'">{{guestdetail.category}}</span></span>
                        <span ng-if="guestdetail.category!=='Contractor'"><b>Category:</b> <span class="whiteColorFont" ng-if="guestdetail.category!=='Contractor'">{{guestdetail.category}}</span></span>
                    </div>
                    <div class="usepadding">
                        <span ng-if="guestdetail.scheduling_type"><b>Type:</b> <span ng-if="guestdetail.scheduling_type==1" class="whiteColorFont">Day Pass</span>
                        <span ng-if="guestdetail.scheduling_type==2 && guestdetail.option==1 " class="whiteColorFont">Daily Pass</span>
                        <span ng-if="guestdetail.scheduling_type==2 && guestdetail.option==2 " class="whiteColorFont">Weekly Pass</span>
                        <span ng-if="guestdetail.scheduling_type==2 && guestdetail.option==3 " class="whiteColorFont">Monthly Pass</span>
                        <span ng-if="guestdetail.scheduling_type==3" class="whiteColorFont">Indefinitely</span>
                        </span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.scheduling_type==1">
                        <span ng-if="guestdetail.scheduling_type==1"><b>Valid Date:</b> <span class="whiteColorFont">{{guestdetail.pass_valid_start_date | dateformatnotifcationguest}}</span></span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.scheduling_type!=1 && guestdetail.pass_valid_start_date">
                        <span ng-if="guestdetail.scheduling_type!=1 && guestdetail.pass_valid_start_date"><b>Start Date:</b> <span class="whiteColorFont">{{guestdetail.pass_valid_start_date | dateformatnotifcationguest}}</span></span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.scheduling_type!=1 && guestdetail.pass_valid_end_date">
                        <span ng-if="guestdetail.scheduling_type!=1 && guestdetail.pass_valid_end_date"><b>End Date:</b> <span class="whiteColorFont">{{guestdetail.pass_valid_end_date | dateformatnotifcationguest}}</span></span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.days.length" style="text-align:center">
                        <span><b>Days:</b></span>
                        <span class="whiteColorFont" ng-if="guestdetail.days.length < 2" ng-repeat="day in guestdetail.days" style="text-align:center">{{day}}</span>
                        <span class="whiteColorFont" ng-if="guestdetail.days.length >= 2" ng-repeat="day in guestdetail.days" style="text-align:center">{{day.substring(0,3)}} </span>
                    </div>
                    <div class="usepadding" ng-if="guestdetail.day_of_month">
                        <span ng-if="guestdetail.day_of_month"><b>Day Of Month:</b> <span class="whiteColorFont">{{guestdetail.day_of_month}}</span></span>
                    </div>
                    <div class="usepadding" ng-if="!guestdetail.pass_valid_start_time && !guestdetail.pass_valid_end_time && guestdetail.scheduling_type!=3">
                        <span ng-if="!guestdetail.pass_valid_start_time && !guestdetail.pass_valid_end_time"><b>Time Valid:</b> <span class="whiteColorFont">All Day</span></span>
                    </div>
                    <div class="usepadding">
                        <span ng-if="guestdetail.pass_valid_start_time && guestdetail.pass_valid_end_time"><b>Time From:</b> <span class="whiteColorFont">{{guestdetail.pass_valid_start_time}}</span></span>
                        <span ng-if="!guestdetail.pass_valid_start_time && guestdetail.pass_valid_end_time"><b>Time From:</b> <span class="whiteColorFont">12:00 AM</span></span>
                    </div>
                    <div class="usepadding">
                        <span ng-if="guestdetail.pass_valid_start_time && guestdetail.pass_valid_end_time"><b>Time To:</b> <span class="whiteColorFont">{{guestdetail.pass_valid_end_time}}</span></span>
                        <span ng-if="guestdetail.pass_valid_start_time && !guestdetail.pass_valid_end_time"><b>Time To:</b> <span class="whiteColorFont">11:59 PM</span></span>
                    </div>
                    <div class="usepadding">
                        <span ng-if="guestdetail.notes" class="whiteColorFont"><b>Special Instructions:</b></span>
                        <span ng-if="guestdetail.notes" class="whiteColorFont">{{guestdetail.notes}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar style="padding: 0px;background-color: transparent;">
        <div class="row" style="padding: 0;">
            <div class="col col-50" style="padding: 0;">
                <button style="padding: 0;margin: 0;height: 44px;" class="button button-full cancelBtnReserv" ng-click="goback()">Cancel</button>
            </div>
            <div class="col col-50" style="padding: 0;border-left: 1px solid #fff;">
                <button style="padding: 0;margin: 0;height: 44px;" class="button button-full confirmBtnReserv" ng-if="!valid" ng-click="sendToStaffNotificationThreadExpired()">Get Approval</button>
                <button style="padding: 0;margin: 0;height: 44px;" class="button button-full confirmBtnReserv" ng-if="valid" ng-click="sendToStaffNotificationThreadOK()">Send Notification</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
