<ion-popover-view style="background-color:black; height:140px; width: 140px;">
        <ion-content style="background-color:black;">
            <button class="button button-energized button-full button-positive icon-left ion-edit" ng-click="newsEdit(newsDetails)">
                Edit
            </button>
            <button class="button button-assertive button-full button-positive icon-left ion-close-round" ng-click="newsDelete(newsDetails)">
                Delete
            </button>
        </ion-content>
</ion-popover-view>