<ion-view view-title="Management" class="whiteoverlayforHome" ng-controller="HeaderCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left headerbuttonmenu" ng-click="goback()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <ion-title style="color:white;">News Feed</ion-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-home headerbuttonmenu" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader subheadercolor ns-feed-subheader">
        <button ng-show="!searchShow" class="button button-icon ion-android-search left white" ng-click="toggleSearch()"></button>
        <h1 ng-if="!searchShow" class="title" style="color:white;float: right;">Emergency News</h1>
        <h1 ng-show="searchShow" class="searchBarDiv">
            <div class="row" style="padding:0px">
                <div class="col col-80" style="padding:0px">
                    <input class="searchBarInput" type="text" ng-model="search.title" placeholder="Search" ng-change="scrollopt()">
                </div>
                <div class="col col-10" style="padding:0px">
                    <button ng-if="search.title.length == 0 || search.title == undefined" style="color: #fff;" class="button button-icon ion-ios-close"
                        type="submit" ng-click="toggleSearch()"></button>
                    <button ng-if="search.title.length > 0" style="color: #fff;" class="button button-icon ion-ios-checkmark" type="submit" ng-click="searchResult()"></button>
                </div>
                <div class="col col-10" style="padding:0px">
                    <button ng-if="search.title.length > 0" style="color: #fff;" class="button button-icon ion-ios-close" type="submit" ng-click="clearsearchfield()"></button>
                </div>
            </div>
        </h1>
    </ion-header-bar>
    <ion-content class=" has-header has-subheader" ng-init="changeTab('2','2',false);featureNote()" style="background-color:#222326;">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshNews()"></ion-refresher>
        <div class="list card" ng-repeat="news in news_list" ng-click="showNewsDetails(news)">
            <div class="item item-avatar newscard">
                <div class="col col-20 item-image notifiImgDiv" ng-if="news.users_id.profile_img">
                    <img ng-if="!showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':news.users_id.user_type_id == 3 || news.users_id.user_type_id == 2,'markStatus-resi':news.users_id.user_type_id == 4}"
                        src="{{host_url+'/'+news.users_id.profile_img | thumb}}" imageonload="generateAvtarOnimageLoadError()">
                    <div ng-if="showErrorImg" class="notifiImg" ng-class="{'markStatus-staff':news.users_id.user_type_id == 3 || news.users_id.user_type_id == 2,'markStatus-resi':news.users_id.user_type_id == 4}"
                        style="border-radius: 50%; height: 50px; width: 50px;">
                        <ionic-letter-avatar data="{{ news.users_id.firstname | limitTo:1}}{{ news.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}"
                            bkcolor="{{news.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <div ng-if="news.users_id.profile_img == ''" class="col col-20 item-image notifiImgDiv">
                    <div  ng-class="{'markStatus-staff':news.users_id.user_type_id == 3 || news.users_id.user_type_id == 2,'markStatus-resi':news.users_id.user_type_id == 4}"
                        style="border-radius: 50%; height: 50px; width: 50px;">
                        <ionic-letter-avatar data="{{ news.users_id.firstname | limitTo:1}}{{ news.users_id.lastname.trim().split(' ').pop() | limitTo:1 }}"
                            bkcolor="{{news.users_id.colour}}" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                </div>
                <h2 class="newsHeader">{{ news.users_id.firstname}} {{ news.users_id.lastname}}
                    <span class="newsnotifiCircle" ng-if="news.unreadthreadNewListVal > 0"> {{news.unreadthreadNewListVal}}</span>
                </h2>
                <p>
                    <span class="newsHeader"> Posted on {{news.created| dateformatnews}} </span>
                </p>
            </div>
            <div class="item item-body newscard">
                <span class="col newsTitle">{{news.title}}</span>
                <span class="col text-wrap newsDescription">{{news.content}}</span>
                <img class="full-image" ng-repeat="gImg in news.images track by $index" ng-show="gImg !== undefined" ng-src="{{gImg.url | thumb}}">
            </div>
        </div>
        <ion-infinite-scroll immediate-check="false" ng-if="!noMoreItemsAvailable" on-infinite="loadMoreNews()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>